<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs')%>
    <title>Admin Page</title>
    <link rel="stylesheet" href="navAdmin.css">
    <link rel="stylesheet" href="adminLoggedMain.css">


</head>
<body>
    

    <%-include('./partials/adminNav.ejs')%>
    <main>
        <p class="text-danger">
            <%if(lastForumDeleteError){%>
                <span><%=lastForumDeleteError%></span>
            <%}%>
        </p>
        <%if (forums.length){%>
            <div class="forums">

                <%forums.forEach((ele)=>{%>
                    
                    <div href='/api/forums/:id'class="card forum">
                        <div class="forumName">
                            <h3>Label</h3>
                            <div><%=ele.name%></div>
                        </div>
                        <div class="forumDescription">
                            <h3>Description </h3>
                                <% if (ele.description.split("").length>20){%>
                                    <div><%=ele.description.split("").splice(0,20).join("")+"..."%></div>
                                <%}else{%>
                                    <div>
                                        <%=ele.description%>
                                    </div>
                        
                                <%}%>



                            
                        </div>

                        <div class="commentsNumber">
                            <h3>Nombre de commentaires </h3>
                        </div>

                        <div class="date">
                            <h3>Date: </h3>
                            <div><%=new Date(ele.createdAt).toLocaleDateString("en-GB")%> </div><br>
                        </div>
                        <div class="visitForum">

                                <a href="/admin/forums/<%=ele._id%>">
                                    <button>
                                        Visiter le froum
                                    </button>

                                    <form method="post" action="/api/forum/delete/<%=ele._id%>?_method=DELETE">
                                        <button>
                                            Supprimer le forum
                                        </button>

                                    </form>

                                </a>
                         
                        </div>


                    </div>
    
                <%})%>
            </div>


        <%}else{%>
        <p>Aucun forum pour le moment</p>
        <%}%>


        
    </main>
    
    <%-include('./partials/footer.ejs')%>

    <script src="admin.js"></script>
    <script src="navAdmin.js"></script>
    <script>
        window.history.pushState("", "", "/admin")
    </script>

</body>
</html>